table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin-top: 2rem;

    thead {
        * {
            font-family: monospace;
        }

        tr {
            border-bottom: 1px solid #e5e7eb;
        }

        th {
            padding: 1.75rem 1rem;
            text-align: left;
            font-weight: 600;
            color: #111827;
            font-size: 1.5rem;
        }
    }

    tbody {
        tr {
            border-bottom: 1px solid #edf0f4;

            &:hover {
                background-color: #e6f1fd;
            }
        }
    }
}