.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    .modal-container {
        position: absolute;
        top: 150px;
        background: #ffffff;
        border-radius: 14px;

        max-width: 500px;
        width: 50%;

        max-height: 90vh;
        overflow-y: auto;

        padding: 24px;

        .modal-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            //border-bottom: 1px solid black;
            margin-bottom: 1rem;

            .modal-title {
                font-weight: 100;
                color: gray;
            }
        }
    }
}