.btn {
    padding: 0.45rem 1.1rem;
    font-size: 0.85rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition:
        background-color 0.2s ease,
        box-shadow 0.15s ease,
        transform 0.1s ease;
    font-weight: bold;

    &:active {
        transform: translateY(1px);
    }

    &.add {
        background-color: #2978d0;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: white;
        font-size: 1.15rem;

        .icon {
            font-size: 1.25rem;
        }

        &:hover {
            background-color: #135eb4;
        }
    }

    &.reject {

        &:hover {
            background: rgb(218, 218, 218);
        }
    }

    &.accept {
        background: #1f7a3f;
        color: #fff;

        &:hover {
            background: #196533;
        }
    }

    &.disabled {
        background: #c4c4c4;
        color: #7a7a7a;
        cursor: not-allowed;
    }
}